.vscode/**
.vscode-test/**
.git/**
node_modules/**
out/test/**
src/**
webview/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.vsix

!webview/public/global.css
!webview/public/index.html
!webview/public/build/bundle.js
!webview/public/build/bundle.css
!webview/public/resources/images/**

